/* TODO: Setting up the project */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;
    transition: all 0.2s linear;                     
}

:root {
    --main-color: #212121;
    --third-color: #C1C1C1;
    --second-color: #fff;
    --header-height: 6rem;
    --global--padding: 1rem;
}

body {
    background: var(--main-color);
    font-size: 62.5%;
}

p {
    color: var(--third-color);
    font-size: 1rem;
    max-width: 50ch;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--second-color);
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.7rem;
}

/* FIXME: Setting up the project ends */

/* TODO: Header section starts */

.header {
    padding: var(--global--padding);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    z-index: 1000;
}


.header .logo__container img {
    width: 3rem;
    height: 3rem;
}

.header .header__nav__bar__container {
    position: absolute;
    background: #4D4D4D;
    left: 110%;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow-x: hidden;
}

.header .header__nav__bar__container .header__nav__bar .header__nav__bar__item a {
    color: var(--second-color);
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.header .header__nav__bar .header__nav__bar__item {
    padding: 2rem 0 2rem 0.2rem;
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
    border-top: 0.5px solid rgba(0,0,0,0.2);
}

header .header__nav__bar .header__nav__bar__item:hover {
    background: #3C3E42;
}

.header__nav__bar__container .fa-times {
    font-size: 3rem;
    color: var(--second-color);
    align-self: flex-end;
    padding: 10% 10% 0 0;
}

.header .header__nav__bar__container.active {
    left: 65%;
}

.header__bars {
    color: var(--second-color);
    font-size: 3.5rem;
}

/* FIXME: Header section ends */

/* TODO: Main adjustments */
.main {
    margin-top: var(--header-height);
    padding: var(--global--padding);
    overflow: hidden;
}

/* FIXME: Main adjustments end */

/* TODO: Home section starts */

.home__image {
    text-align: center;
}

.home__image img {
    width: 8rem;
    height: 20rem;
}

.home .home__content h2 {
    font-size: 3rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 13%, rgba(172,172,172,0.7) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -1.5rem;
    margin-left: 2rem;
    text-shadow: 4px 4px 2rem rgba(83, 83, 83, 0.2);
}

.home .home__content h3 {
    margin: 3rem 0 1rem 0;
}

.button {
    padding: 0.6rem 1rem;
    color: var(--second-color);
    background: #474746;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.button:hover {
    letter-spacing: 0.1rem;
}

.add__to__cart {
    display: flex;
    gap: 0.7rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    align-items: center;
    max-width: 16rem;
    justify-content: center;
}

.add__to__cart .price {
    font-weight: bolder;
}

/* FIXME: Home section ends */

/* TODO: Specs section starts */

.specs {
    margin-top: 8rem;
}

.specs h2 {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 13%, rgba(172,172,172,0.7) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.specs .specs__image {
    text-align: center;
    margin-bottom: 4rem;
}

.specs .specs__image img {
    width: 14rem;
}

.specs__content h3 {
    font-size: 1rem;
}

.specs__content i {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.specs__content span {
    color: #888;
    font-size: 0.7rem;
    display: inline-block;
    margin-top: 0.4rem;
}

.specs__content__container {
    display: grid;
    grid-template: repeat(2, 5rem)/ repeat(2, minmax(2rem, 6rem));
    justify-content: center;
    column-gap: 4rem;
    row-gap: 1rem;
}

/* FIXME: Specs section ends */

/* TODO: Case section starts */

.case {
    margin-top: 7rem;
}

.case h2 {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 13%, rgba(172,172,172,0.7) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 4rem;
}

.case__image {
    text-align: center;
}

.case__image img {
    width: 13rem;
    margin: 4rem 0 2rem;
}

.case__content p {
    margin-bottom: 4rem;
    max-width: 50ch;
}

.case__content .button {
    font-size: 0.7rem;
}

.case__content .fa-circle-exclamation {
    font-size: 1rem;
    margin-right: 0.4rem;
}

/* FIXME: Case section ends */

/* TODO: Discount section starts */

.discount {
    margin-top: 8rem;
}

.discount__image {
    text-align: center;
}

.discount__image img {
    width: 14rem;
}

.discount__content h2 {
    font-size: 1.6rem;
    margin: 2rem 0;
}

.discount__content span {
    font-size: 1rem;
    color: var(--third-color);
}

.discount__content .button {
    margin-top: 2rem;
    display: inline-block;
    color: var(--second-color);
}

.discount__content .button i {
    margin-right: 0.5rem;
}

/* FIXME: Discount section ends */

/* TODO: Products section starts */

.products {
    margin-top: 8rem;
}

.products h2 {
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 13%, rgba(172,172,172,0.7) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products__grid {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 10rem));
    justify-content: center;
    gap: 7rem 2rem;
}

.product__image {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.products__grid .product__image img {
    width: 70%;
}

.products__grid .product:hover .product__image img {
    width: 80%;
}

.products__grid .product {
    height: 10rem;
    background: #252525;
    padding: 0 1rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}

.product h3 {
    font-size: 1.3rem;
    padding: 1rem 0 0.5rem 0;
    text-transform: capitalize;
}

.product .price {
    font-size: 1.1rem;
    font-weight: bolder;
    color: var(--third-color);
}

.product .fa-bag-shopping {
    position: absolute;
    font-size: 1.3rem;
    bottom: 0.5rem;
    right: 2%;
    padding: 0.6rem;
    background: var(--main-color);
    border-radius: 0.5rem;
    color: var(--second-color);
}

/* FIXME: Products section ends */

/* TODO: Footer starts */

.footer {
    margin-top: 8rem;
    overflow: hidden;
    padding: var(--global--padding);
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer__logo {
    margin-bottom: 4rem;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer__nav__bar__container h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer__nav__bar__container .footer__nav__bar .footer__nav__bar__item {
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0;
    line-height: 1.5;
    color: var(--third-color);
    margin: 0.1rem 0;
}

#footer__form {
    margin-top: 4rem;
    padding: 1rem 0.2rem;
    background: #252525;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 10rem;
}

#footer__form input[type="email"] {
    font-size: 1rem;
    padding: 0.4rem;
    background: none;
    color: #fff;
}

#footer__form input[type="email"]::placeholder {
    color: #fff;
}

.footer__brand__icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.footer__brand__icons i {
    font-size: 0.7rem;
    color: var(--second-color);
    cursor: pointer;
}

.footer .button {
    max-width: 8rem;
}

.copy {
    position: absolute;
    bottom: 1rem;
}

.copy span {
    color: #fff;
    font-weight: 500;
    font-size: 0.65rem;
}

/* FIXME: Footer ends /*

/* TODO: Media queries  start */


@media screen and (min-width:264px) {

    /* TODO: Home adjustments */

    .home .home__content h2 {
        font-size: 4rem;
    }

    /* FIXME: Home adjustments end */

    /* TODO: Case adjustments */

    .case__content .button {
        font-size: 1rem;
    }
    
    .case__content .fa-circle-exclamation {
        font-size: 1.4rem;
    }

    /* FIXME: Case adjustments end */

    /* TODO: Products adjustments */

    .products h2 {
        font-size: 3rem;
    }

    /* FIXME: Products adjustments end */

    /* TODO: Footer adjustments */

    #footer__form {
        width: 14rem;
    }

    /* FIXME: Footer adjustments end */
}

@media screen and (min-width: 310px) {

    /* TODO: Footer adjustments */

    #footer__form {
        width: 15rem;
    }

    /* FIXME: Footer adjustments end */
    
}

@media screen and (min-width:350px) {
    
    /* TODO: Header adjustments */
    .header .header__nav__bar .header__nav__bar__item {
        padding: 2rem 1rem;
    }

    /* FIXME: Header adjustments end */

    
    /* TODO: Home adjustments */

    .home .home__content h2 {
        font-size: 5rem;
    }

    /* FIXME: Home adjustments end */

    /* TODO: Products adjustments */

    .products h2 {
        font-size: 4rem;
    }

    /* FIXME: Products adjustments end */

    /* TODO: Footer adjustments */

     #footer__form {
        width: 17rem;
    }

    /* FIXME: Footer adjustments end */
}

@media screen and (min-width: 400px) {
    

    /* TODO: Header adjustments */

    .header .header__nav__bar__container .header__nav__bar .header__nav__bar__item a {
        font-size: 1.3rem;
    }

    .header .logo__container img {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    /* FIXME: Header adjustments end */ 

    /* TODO: Discount adjustments */

    .discount__image img {
        width: 16rem;
    }

    /* FIXME: Discount adjustments end */

    /* TODO: Footer adjustments */

    .footer__content {
        gap: 4rem;
    }

    #footer__form {
       width: 17rem;
    }
   
    /* FIXME: Footer adjustments end */
    
}

@media screen and (min-width: 412px) {

    /* TODO: Footer adjustments */

    #footer__form {
        display: flex;
        flex-direction: initial;
        flex-wrap: wrap;
        width: auto;
        max-width: 24rem;
    }

    /* FIXME: Footer adjustments end */
    
}

@media screen and (min-width:500px) {

    /* TODO: Setting up the project adjustments */

     :root {
        --global--padding: 2rem;
    }
    
    /* fixme: Setting up the project adjustments end */

    /* TODO: Specs adjustments */

    .specs__content__container {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        row-gap: 2rem;
    }

    .specs__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    
    .specs .specs__image {
        margin-top: 4rem;
    }

    .specs .specs__image img {
        width: 16rem;
    }

    .specs__content:first-of-type,
    .specs__content:last-of-type {
        margin-left: 2rem;
    }

    .specs__content:nth-child(2),
    .specs__content:nth-child(3) {
        margin-left: -0.5rem;
    }
    
    /* FIXME: Specs adjustments end */

    /* TODO: Discount adjustments */

     .discount__image img {
        width: 18rem;
    }

    /* FIXME: Discount adjustments end */

    
}

@media screen and (min-width: 550px) {

     
    /* TODO: Header adjustments */

    .header .header__nav__bar__container.active {
        left: 70%;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Specs adjustments */

    .specs__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .specs__content:nth-child(2),
    .specs__content:nth-child(3) {
        margin-left: -1rem;
    }

    /* FIXME: Specs adjustments end */

    /* TODO: Case adjustments */

    .case__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .case__content p {
        max-width: 20ch;
    }

    .case__content {
        width: 50ch;
    }

    .case__content .button {
        font-size: 0.85rem;
    }
    
    .case__content .fa-circle-exclamation {
        font-size: 1.3rem;
    }

    /* FIXME: Case adjustments end */

}

@media screen and (min-width:600px) {

    /* TODO: Specs adjustments */

    .specs h2 {
        font-size: 5rem;
    }

    /* FIXME: Specs adjustments end */

    /* TODO: Case adjustments */

    .case h2 {
        font-size: 5rem;    
    }

    .case__content .button {
        font-size: 1rem;
    }
    
    .case__content .fa-circle-exclamation {
        font-size: 1.4rem;
    }
    
    /* FIXME: Case adjustments end */
}

@media screen and (min-width:650px) {

    /* TODO: Discount adjustments */

    .discount__container {
        background: #252525;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        padding: 2rem;
        border-radius: 1rem;
    }
  
    .discount__image img {
        width: 14rem;
    }

    /* FIXME: Discount adjustments end */
    
}

@media screen and (min-width: 700px) {
    
    /* TODO: Header adjustments */

    .header__bars {
        display: none;
    }

    .header__nav__bar__container .fa-times {
        display: none;
    }

    .header .header__nav__bar__container {
        position: initial;
        background: none;
        height: initial;
        display: initial;
    }

    .header .header__nav__bar .header__nav__bar__item {
        padding: 0;
        border-bottom: none;
        border-top: none;
    }

    .header .header__nav__bar__container .header__nav__bar {
        display: flex;
        gap: 3rem;
    }

    .header .header__nav__bar__container .header__nav__bar .header__nav__bar__item {
        background: none;
    }
    
    .header .header__nav__bar__container .header__nav__bar .header__nav__bar__item a.active,
    .header .header__nav__bar__container .header__nav__bar .header__nav__bar__item a:hover {
        color: #00C9A5;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Home adjustments */

    .home__image img {
        width: 13rem;
        height: 30rem;
    }

    .home {
        display: flex;
        gap: 4rem;
        justify-content: center;
    }

    .home .home__content h2 {
        font-size: 6rem;
    }

    /* FIXME: Home adjustments end */
    
    /* TODO: Specs adjustments */

    .specs__container {
        gap: 6rem;
    }

    .specs h2 {
        font-size: 6rem;
    }

    /* FIXME: Specs adjustments end */


    /* TODO: Case adjustments */

    .case h2 {
        font-size: 6rem;  
    }

    .case__container {
        gap: 6rem;
    }

    /* FIXME: Case adjustments end */

    /* TODO: Discount adjustments */

    .discount__container {
        gap: 4rem;
    }

    /* FIXME: Discount adjustments end */

    /* TODO: Products adjustments */

    .products h2 {
        font-size: 5rem;
    }

    .products__grid {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 11rem));
        gap: 7rem 2rem;
    }

    .products__grid .product__image img {
        width: 60%;
    }

    .products__grid .product:hover .product__image img {
        width: 70%;
    }

    /* FIXME: Products adjustments end */

}

@media screen and (min-width:800px) {

     /* TODO: Header adjustments */

    .header .header__nav__bar__container .header__nav__bar .header__nav__bar__item a {
        font-size: 1.4rem;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Home adjustments */

    .home {
        gap: 6rem;
    }

    /* FIXME: Home adjustments end */

    /* TODO: Specs adjustments 

    .specs .specs__image img {
        width: 17rem;
    }

    /* FIXME: Specs adjustments end */

    /* TODO: Case adjustments */

    .case__image img {
        width: 15rem;
    }

    .case__container {
        gap: 7rem;
    }

    /* FIXME: Case adjustments end */

    /* TODO: Discount adjustments */

    .discount__container {
        gap: 5rem;
        margin: 0 7%;
    }

    /* FIXME: Discount adjustments end */

    /* TODO: Products adjustments */

    .products__grid {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 12rem));
        gap: 7rem 3rem;
    }

    .products__grid .product__image img {
        width: 55%;
    }

    .products__grid .product:hover .product__image img {
        width: 65%;
    }

    /* FIXME: Products adjustments end */
    
}

@media screen and (min-width:861px) { 

    /* TODO: Footer adjustments */

    .footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .footer__brand__icons {
        justify-content: flex-start;
    }

    .footer__brand__icons__container {
        width: 25rem;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    /* FIXME: Footer adjustments end */
    
}

@media screen and (min-width: 900px) {

    /* TODO: Discount adjustmentd */

    .discount__image img {
        width: 18rem;
    }

    .discount__container {
        padding: 3rem 2rem;
    }

    /* FIXME: Discount adjustments end */

    /* TODO: Products adjustments */

    .products__grid {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 14rem));
        gap: 10rem 3rem;
    }

    .products__grid .product__image img {
        width: 50%;
    }

    .products__grid .product:hover .product__image img {
        width: 60%;
    }

    /* FIXME: Products adjustments end */

    /* TODO: Footer adjustments */

    .footer {
        gap: 4rem;
    }

    /* FIXME: Footer adjustments end */
    
}

@media screen and (min-width:1000px) {

    /* TODO: Setting up the project adjustments */

     :root {
        --global--padding: 2rem 5%;
    }
    
    /* fixme: Setting up the project adjustments end */

     /* TODO: Home adjustments */

     .home {
        gap: 8rem;
    }

    /* FIXME: Home adjustments end */

    /* TODO: Case adjustments */

    .case__container {
        gap: 8rem;
    }

    /* FIXME: Case adjustments end */

    
    /* TODO: Discount adjustmentd */

    .discount__image img {
        width: 20rem;
    }

    .discount__container {
        padding: 4rem 2rem;
    }

    /* FIXME: Discount adjustments end */

    /* TODO: Footer adjustments */

    .footer {
        gap: 5rem;
    }

    /* FIXME: Footer adjustments end */
    
}

@media screen and (min-width:1150px) {

    /* TODO: Products adjustments */

    .products__grid {
        padding: 0 12%;
    }

    /* FIXME: Products adjustments end */
    
}

@media screen and (min-width: 1200px) {

    /* TODO: Discount adjustments */

    .discount__container {
        gap: 6rem;
        margin: 0 10%;
    }

    /* FIXME: Discount adjustments end */

     /* TODO: Footer adjustments */

    .footer {
        gap: 8rem;
    }

    /* FIXME: Footer adjustments end */
    
}

/* FIXME: Media queries end */